@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');

:root{
    --mainRed: 'hsl(10, 79, 65, 100%)';
    --mainBlue: 'hsl(186, 34, 60, 100%)';

    --darkBrown: '';
}